.container{
    border: 5px solid rgb(51, 137, 218);
    width: 30%;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
}

#imgUser{
border-radius: 50%;
border: 1px solid rgb(51, 137, 218);
width: 70px;
}